.collapsible {
    background-color: rgb(226, 223, 223);
    color: rgb(36, 35, 35);
    cursor: pointer;
    padding: 2vh;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 30px;
}

.pill {
    margin: auto;
    align-items: center;
    display: block;
    justify-content: center;
    padding-left: 3%;
    padding-right: 5%;
    padding: 1%;
}

.active,
.collapsible:hover {
    background-color: rgb(248, 243, 243);
    border-radius: 30px 30px 5px 5px;
    transition: .5s;
}

.collapsible:after {
    content: '\002B';
    color: rgb(190, 190, 190);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    display: grid;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgb(248, 243, 243);
    color: rgb(83, 83, 83);
    border-radius: 0 0px 30px 30px;
    width: 95%;
    margin-top: -10px;
}

.content p {
    padding: 0 18px;
}

.createform {
    color: rgb(236, 236, 236);
    background-color: #f93154;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}


/*  */