/* rti form  */

.formHeading {
    padding: 0 2vw;
    text-decoration: underline;
    text-align: center;
}

.formsubheading {
    padding: 3vw;
}

.formdescription {
    padding: 0 3vw;
}

.rtiform {
    padding: 2vw;
}

.form-control {
    width: 40%;
    border-radius: 40px;
    display: inline-flex;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.795);
}

.Address {
    border-radius: 20px;
}

.information {
    width: 70%;
}

form {
    margin-bottom: 20%;
}

button {
    border-radius: 10px;
    background-color: #f93154;
    color: #ffffff;
    padding: 0 2%;
}

.buttons {
    display: flex;
}

.submit {
    float: right;
    margin-left: 5%;
}


/* .viewpdf {
    display: inline;
    float: right;
    background-color: #f93154;
    border: none;
    color: #ffffff;
    border-radius: 30px;
} */